@{
    Layout = "~/Views/Shared/_LayoutAdministrator.cshtml";
}
@model PetroOperaciones.Models.ArchivoDocumentoCliente

@{
    ViewBag.Title = "Delete";
}


<h3>¿Esta seguro que desea eliminar este documento?</h3>
<fieldset>
    <legend>Documento Cliente</legend>

    <div class="display-label">Cliente</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Cliente.NmCliente)
    </div>

    <div class="display-label">Usuario</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Usuario.Nombre)
    </div>

    <div class="display-label">TipoDocumentoTercero</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TipoDocumentoTercero.TipoDocumentoTerceroNm)
    </div>

    <div class="display-label">NoDocumento</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NoDocumento)
    </div>

    <div class="display-label">NombreArchivo</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NombreArchivo)
    </div>

    <div class="display-label">FechaRegistro</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FechaRegistro)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Eliminar" /> |
        <a href="javascript:history.go(-1)">Regresar</a>
    </p>
}
