
@model IEnumerable<PetroOperaciones.Models.DocumentoOperaciones>

@{
    ViewBag.Title = "GetList";
    WebGrid grid = new WebGrid(Model, canPage: false, canSort: false);
}

<script src="@Url.Content("~/Scripts/jquery/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {

        $("#Estado").removeClass("input-validation-error cssClass").addClass("yourClass");
    });

</script>
<div class="Consolidados">
<h2>Documentos de Operaciones</h2>
<p>&nbsp</p>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

        <div class="editor-field">
             
             Fecha Inicial
            @Html.Editor("FechaCreacion")

            Fecha Final
            @Html.Editor("FechaFinalizacion")

            Estado
            @Html.DropDownList("Estado", null, "Todos", new { @class = "cssClass" })

             <input type="submit" value="Buscar" />
                                
        </div>
    
}

<br />


@grid.GetHtml(
        fillEmptyRows: true,
        alternatingRowStyle: "fila-alternativa",
        headerStyle: "encabezado-grid",
        footerStyle: "pie-grid",
        tableStyle: "table table-bordered",        
        mode: WebGridPagerModes.All,
        firstText: "<< Primera",
        previousText: "< Anterior",
        nextText: "Siguiente >",
        lastText: "Última >>",
    columns: new[] {
         grid.Column("NumeroDO", 
                header: "DO",
                format: p=>p.NumeroDO),
         grid.Column("FechaCreacion", 
                header: "Fecha Inicio",
                format: (item) => item.FechaCreacion.ToString("dd/MM/yyyy")),                        

         grid.Column("Estado", 
                header: "Estado",
                format: p=>p.EstadoDO.EstadoNm),             
                
                
                
         grid.Column("Responsable", 
                header: "Responsable",
                format: p=>p.UsuarioR.Nombre),
         grid.Column("Transportador", 
                header: "Transportador Principal",
                 format: p=>p.Transportador.TransportadorNm),
    
         grid.Column("Origen", 
                header: "Origen",
                format: p=>p.PuertoO.PuertoNm),  
                
         grid.Column("Destino", 
                header: "Destino",
                format: p=>p.PuertoD.PuertoNm),
                
         grid.Column("TipoOperacionID", 
                header: "Operación",
                format: p=>p.TipoOperacion.TipoOperacionNm),
                
        grid.Column(
                "", 
                header: "Acciones",
                
                format: @<text>
                <div class="btn-group">
                    <a class="btn" href="Details/@item.DocumentoOperacionesID"><i class="icon-list-alt"></i> Detalles</a>
                    <a class="btn" href="Seguimientos?DOID=@item.DocumentoOperacionesID"><i class="icon-file"></i>Seguimientos</a> 
     
                    <a class="btn" href="ArchivoDocumentos?DOID=@item.DocumentoOperacionesID"><i class="icon-book"></i>Documentos</a>
                </div>
             </text>
         )                                                                                                 
              
                                                
})


 </div>
  <div id="gt_box_contbuttons">
    <a class="ui-button ui-button-volver ui-float-left" href="javascript:history.go(-1)"><span class="ui-button-img">&nbsp;</span><span class="ui-button-txt">Regresar</span></a>    
</div>