@model PetroOperaciones.Models.Facturacion.PrefacturaEncabezado

@{
    Layout = "~/Views/Shared/_LayoutAdministrator.cshtml"; 
    ViewBag.Title = "Delete";
}

<script type="text/javascript">
    function enviarFormulario() {
        document.getElementById("formId").submit();
    }

</script>
<h3>¿Esta seguro que desea eliminar esta prefactura?</h3>

    
<fieldset class="ConsolidadosReportes">
    <legend>Prefactura No @Model.PrefacturaEncabezadoID</legend>

    <div class="display-label">Documento Operaciones</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DocumentoOperaciones.NumeroDO)
    </div>

    <div class="display-label">Tasa de Cambio</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TasaDeCambio)
    </div>

    <div class="display-label">Anotaciones</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Anotaciones)
    </div>



    <div class="display-label">Usuario</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Usuario.NombreUsuario)
    </div>

    <div class="display-label">Fecha de Creación</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FechaCreacion)
    </div>
</fieldset>
@using (Html.BeginForm("Delete", "Prefactura", FormMethod.Post, new { id = "formId" }))
{
     @Html.HiddenFor(model => model.PrefacturaEncabezadoID)
     
}

<div id="gt_box_contbuttons">
    <a class="ui-button ui-button-volver ui-float-left" href="javascript:history.go(-1)"><span class="ui-button-img">&nbsp;</span><span class="ui-button-txt">Regresar</span></a> 
     <a id="fakeanchor" class="ui-button ui-button-eliminar ui-float-left" href="javascript:enviarFormulario();"><span class="ui-button-img"></span><span class="ui-button-txt">Eliminar</span></a>   
</div>