@{
    Layout = "~/Views/Shared/_LayoutAdministrator.cshtml";
}

@model PetroOperaciones.Models.ArchivoDocumentoTransportador

@{
    ViewBag.Title = "Delete";
}



<h3>¿Esta seguro que desea eliminar este documento?</h3>
<fieldset>
    <legend>Documento Transportador</legend>

    <div class="display-label">TransportadorID</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TransportadorID)
    </div>

    <div class="display-label">Usuario</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Usuario.Cedula)
    </div>

    <div class="display-label">TipoDocumentoTerceroID</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TipoDocumentoTerceroID)
    </div>

    <div class="display-label">NoDocumento</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NoDocumento)
    </div>

    <div class="display-label">NombreArchivo</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NombreArchivo)
    </div>

    <div class="display-label">FechaRegistro</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FechaRegistro)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
         <a href="javascript:history.go(-1)">Regresar</a>
    </p>
}
