@model IEnumerable<PetroOperaciones.Models.ArchivoDocumentoTransportador>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<p>&nbsp</p>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            TransportadorID
        </th>
        <th>
            Usuario
        </th>
        <th>
            TipoDocumentoTerceroID
        </th>
        <th>
            NoDocumento
        </th>
        <th>
            NombreArchivo
        </th>
        <th>
            FechaRegistro
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TransportadorID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usuario.Cedula)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoDocumentoTerceroID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NoDocumento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NombreArchivo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaRegistro)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ArchivoDocumentoTransportadorID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ArchivoDocumentoTransportadorID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ArchivoDocumentoTransportadorID })
        </td>
    </tr>
}

</table>
