@{
    Layout = "~/Views/Shared/_LayoutAdministrator.cshtml";
}

@model IEnumerable<PetroOperaciones.Models.Facturacion.FacturaEncabezado>

@{
    Layout = "~/Views/Shared/_LayoutAdministrator.cshtml";
    ViewBag.Title = "BuscardorFactura";
    WebGrid grid = new WebGrid(Model, canPage: false, canSort: false);
}



<div class="Consolidados">
<h2>Facturas</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

        <div class="editor-field">
             
             Ingrese el Número de  Factura
            @Html.Editor("NoFacturaSoporte")

            <input type="submit" value="Buscar" />   
        </div>
    
}

<br />


@grid.GetHtml(
        fillEmptyRows: true,
        alternatingRowStyle: "fila-alternativa",
        headerStyle: "encabezado-grid",
        footerStyle: "pie-grid",
        tableStyle: "table table-bordered",        
        mode: WebGridPagerModes.All,
        firstText: "<< Primera",
        previousText: "< Anterior",
        nextText: "Siguiente >",
        lastText: "Última >>",
    columns: new[] {
        
         grid.Column("Factura", 
                header: "Factura",
                format: p=>p.NoFacturaSoporte),
                        
         grid.Column("DO", 
                header: "DO",
                format: @<a href="../DO/Details/@item.DocumentoOperaciones.DocumentoOperacionesID">@item.DocumentoOperaciones.NumeroDO</a>),

         grid.Column("Cliente", 
                header: "Cliente",
                format: @<a href="../Cliente/Details/@item.Cliente.ClienteID">@item.Cliente.NmCliente</a>),

         grid.Column("Responsable", 
                header: "Responsable",
                format: p=>p.Usuario.Nombre),
                
         grid.Column("Estado", 
                header: "Estado",
                format: p=>p.EstadoFactura.EstadoNm),  
                
                                
         grid.Column("FechaCreacion", 
                header: "Fecha Factura",
                format: (item) => item.FechaFactura.ToString("dd/MM/yyyy")),                                                        
                
                                
         grid.Column("FechaCreacion", 
                header: "Fecha Creacion",
                format: (item) => item.FechaCreacion.ToString("dd/MM/yyyy")),
                
         grid.Column(
                "", 
                header: "Acciones",
                format:@<text> 
                    <a href="../FacturaDetalle/Create?EncabezadoID=@item.FacturaEncabezadoID&tienePrefactura=False">Detalles</a> 
                    |<a href="../FacturaDetalle/GetInvoicePDFFile?FacturaEncabezadoId=@item.FacturaEncabezadoID&tipoMoneda=COP">Descargar Factura</a> 
                 </text>),                                        
                                                                                               
              
                                                
})

</div>
 <div id="gt_box_contbuttons">
    <a class="ui-button ui-button-volver ui-float-left" href="javascript:history.go(-1)"><span class="ui-button-img">&nbsp;</span><span class="ui-button-txt">Regresar</span></a>    
</div>