@model IEnumerable<PetroOperaciones.Models.Contacto>
@{
    Layout = "~/Views/Shared/_LayoutAdministrator.cshtml";
}

@{
    ViewBag.Title = "Index";
    WebGrid grid = new WebGrid(Model);
}


<div class="Consolidados">
<h2>Contactos</h2>
<p>&nbsp</p>
@grid.GetHtml(
                fillEmptyRows: true,
                alternatingRowStyle: "fila-alternativa",
                headerStyle: "encabezado-grid",
                footerStyle: "pie-grid",
                tableStyle: "table table-bordered",                
                mode: WebGridPagerModes.All,
                firstText: "<< Primera",
                previousText: "< Anterior",
                nextText: "Siguiente >",
                lastText: "Última >>",
    columns: new [] {
         grid.Column("ContactoNm", 
                header: "Nombre",
                format: p=>p.ContactoNm),
         grid.Column("Teléfono", 
                header: "Telefono",
                format: p=>p.Telefono),  
         grid.Column("Celular", 
                header: "Celular",
                format: p=>p.Celular),   
         grid.Column("Cargo", 
                header: "Cargo",
                format: p=>p.Cargo), 
                
         grid.Column("Email", 
                header: "Email",
                format: @<a href="mailto:@item.Email">@item.Email</a>),  
                                                    
         grid.Column("Cliente", 
                header: "Cliente",
                 format:  @<a href="../Cliente/Details/@item.Cliente.ClienteID">@item.Cliente.NmCliente</a>),                                                                
         grid.Column("FechaCumpleanos", 
                header: "Cumpleaños",
                format: p=>p.FechaCumpleanos.ToShortDateString()),                
    grid.Column(
          "", 
          header: "Acciones",
          format: @<text>
                      @Html.ActionLink("Editar", "Edit", new { id = item.ContactoID }) 
                    |
                      @Html.ActionLink("Eliminar", "Delete", new { id = item.ContactoID })
                  </text>
    )                
})

</div> 